n8n/onboarding_orchestrator.json
{
  "name": "onboarding_orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-created",
        "responseMode": "=onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1a7491f6-5991-4bae-805e-5091f8176a4e",
      "name": "Webhook",
      "webhookId": "e4209c2e-ee7a-4f15-9256-8b1091c92a5b"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced task generation with proper assignment logic\nconst { stakeholders = [], integrations = [], customer_size, go_live_date, customer_name } = $input.all()[0].json;\n\nconst tasks = [];\n\n// Task assignment rules\nconst TASK_ASSIGNMENT_RULES = {\n  'kickoff_meeting': { preferredRoles: ['project_manager', 'owner'], fallbackRole: 'project_manager' },\n  'requirements_review': { preferredRoles: ['owner', 'project_manager'], fallbackRole: 'owner' },\n  'timeline_planning': { preferredRoles: ['project_manager'], fallbackRole: 'project_manager' },\n  'security_review': { preferredRoles: ['technical_lead', 'it_contact'], fallbackRole: 'technical_lead' },\n  'compliance_check': { preferredRoles: ['technical_lead', 'owner'], fallbackRole: 'technical_lead' },\n  'go_live_preparation': { preferredRoles: ['project_manager', 'technical_lead'], fallbackRole: 'project_manager' }\n};\n\nconst INTEGRATION_TASK_RULES = {\n  'sis_setup': { preferredRoles: ['it_contact', 'technical_lead'], fallbackRole: 'it_contact' },\n  'crm_setup': { preferredRoles: ['it_contact', 'technical_lead'], fallbackRole: 'it_contact' },\n  'sftp_setup': { preferredRoles: ['technical_lead', 'it_contact'], fallbackRole: 'technical_lead' },\n  'api_setup': { preferredRoles: ['technical_lead'], fallbackRole: 'technical_lead' }\n};\n\n// Helper function to assign task\nfunction assignTask(taskType, stakeholders) {\n  const rule = TASK_ASSIGNMENT_RULES[taskType] || INTEGRATION_TASK_RULES[taskType];\n  if (!rule) return { ownerRole: 'project_manager' };\n  \n  for (const role of rule.preferredRoles) {\n    const stakeholder = stakeholders.find(s => s.role === role);\n    if (stakeholder) {\n      return { ownerRole: role, assignedTo: stakeholder.email };\n    }\n  }\n  \n  const fallback = stakeholders.find(s => s.role === rule.fallbackRole);\n  return { ownerRole: rule.fallbackRole, assignedTo: fallback?.email };\n}\n\n// Helper function to calculate priority\nfunction calculatePriority(taskType) {\n  if (taskType.includes('security') || taskType.includes('sis_setup')) return 'critical';\n  if (taskType.includes('kickoff') || taskType.includes('requirements') || taskType.includes('go_live') || taskType.includes('setup')) return 'high';\n  if (taskType.includes('testing') || taskType.includes('planning')) return 'medium';\n  return 'medium';\n}\n\n// Helper function to calculate due days\nfunction calculateDueDays(taskType, goLiveDate, customerSize) {\n  if (taskType.includes('kickoff')) return 1;\n  if (taskType.includes('requirements')) return 2;\n  if (taskType.includes('setup')) return taskType.includes('sis') ? 3 : 5;\n  if (taskType.includes('testing')) return taskType.includes('sis') ? 5 : 7;\n  if (taskType.includes('security') || taskType.includes('compliance')) return customerSize === 'enterprise' ? 5 : 7;\n  if (taskType.includes('go_live')) {\n    if (goLiveDate) {\n      const daysUntil = Math.floor((new Date(goLiveDate) - new Date()) / (1000 * 60 * 60 * 24));\n      return Math.max(1, daysUntil - 2);\n    }\n    return 14;\n  }\n  return 7;\n}\n\n// Base tasks for all onboardings\nconst kickoffAssignment = assignTask('kickoff_meeting', stakeholders);\ntasks.push({\n  task_type: 'kickoff_meeting',\n  title: `Schedule kickoff meeting for ${customer_name}`,\n  owner_role: kickoffAssignment.ownerRole,\n  assigned_to: kickoffAssignment.assignedTo,\n  priority: calculatePriority('kickoff_meeting'),\n  due_days: calculateDueDays('kickoff_meeting', go_live_date, customer_size)\n});\n\n// Integration-specific tasks\nintegrations.forEach(integration => {\n  const integType = integration.type.toLowerCase();\n  const setupTaskType = `${integType}_setup`;\n  const testingTaskType = `${integType}_testing`;\n  \n  const setupAssignment = assignTask(setupTaskType, stakeholders);\n  tasks.push({\n    task_type: setupTaskType,\n    title: `Set up ${integration.name} integration`,\n    owner_role: setupAssignment.ownerRole,\n    assigned_to: setupAssignment.assignedTo,\n    priority: calculatePriority(setupTaskType),\n    due_days: calculateDueDays(setupTaskType, go_live_date, customer_size),\n    integration_id: integration.id\n  });\n  \n  // Testing task - always assign to technical lead or QA\n  const testingStakeholder = stakeholders.find(s => s.role === 'technical_lead') || stakeholders.find(s => s.role === 'qa');\n  tasks.push({\n    task_type: testingTaskType,\n    title: `Test ${integration.name} connectivity`,\n    owner_role: testingStakeholder?.role || 'technical_lead',\n    assigned_to: testingStakeholder?.email,\n    priority: calculatePriority(testingTaskType),\n    due_days: calculateDueDays(testingTaskType, go_live_date, customer_size),\n    integration_id: integration.id\n  });\n});\n\n// Stakeholder-specific tasks\nstakeholders.forEach(stakeholder => {\n  if (stakeholder.role === 'owner') {\n    tasks.push({\n      task_type: 'requirements_review',\n      title: 'Review onboarding requirements',\n      owner_role: 'owner',\n      assigned_to: stakeholder.email,\n      priority: calculatePriority('requirements_review'),\n      due_days: calculateDueDays('requirements_review', go_live_date, customer_size)\n    });\n  }\n  \n  if (stakeholder.role === 'project_manager') {\n    tasks.push({\n      task_type: 'timeline_planning',\n      title: 'Create detailed project timeline',\n      owner_role: 'project_manager',\n      assigned_to: stakeholder.email,\n      priority: calculatePriority('timeline_planning'),\n      due_days: calculateDueDays('timeline_planning', go_live_date, customer_size)\n    });\n  }\n});\n\n// Size-based tasks\nif (customer_size === 'enterprise' || customer_size === 'large') {\n  const securityAssignment = assignTask('security_review', stakeholders);\n  tasks.push({\n    task_type: 'security_review',\n    title: 'Conduct security assessment',\n    owner_role: securityAssignment.ownerRole,\n    assigned_to: securityAssignment.assignedTo,\n    priority: calculatePriority('security_review'),\n    due_days: calculateDueDays('security_review', go_live_date, customer_size)\n  });\n  \n  const complianceAssignment = assignTask('compliance_check', stakeholders);\n  tasks.push({\n    task_type: 'compliance_check',\n    title: 'Verify compliance requirements',\n    owner_role: complianceAssignment.ownerRole,\n    assigned_to: complianceAssignment.assignedTo,\n    priority: calculatePriority('compliance_check'),\n    due_days: calculateDueDays('compliance_check', go_live_date, customer_size)\n  });\n}\n\n// Final go-live preparation task\nconst goLiveAssignment = assignTask('go_live_preparation', stakeholders);\ntasks.push({\n  task_type: 'go_live_preparation',\n  title: 'Prepare for go-live',\n  owner_role: goLiveAssignment.ownerRole,\n  assigned_to: goLiveAssignment.assignedTo,\n  priority: calculatePriority('go_live_preparation'),\n  due_days: calculateDueDays('go_live_preparation', go_live_date, customer_size)\n});\n\nreturn tasks.map(task => ({\n  ...task,\n  onboarding_id: $input.all()[0].json.onboarding_id,\n  customer_id: $input.all()[0].json.customer_id\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9a2a6a56-12a8-43ca-b741-56456949404a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "onboarding_tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "onboarding_id",
              "fieldValue": "={{$json[\"onboarding_id\"]}}"
            },
            {
              "fieldId": "task_type",
              "fieldValue": "={{$json[\"task_type\"]}}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{$json[\"title\"]}}"
            },
            {
              "fieldId": "owner_role",
              "fieldValue": "={{$json[\"owner_role\"]}}"
            },
            {
              "fieldId": "assigned_to",
              "fieldValue": "={{$json[\"assigned_to\"] || null}}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{$json[\"priority\"] || 'medium'}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "is_blocker",
              "fieldValue": "=false"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ new Date(Date.now() + $json.due_days * 86400000).toISOString().slice(0,10) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "56edceb0-3ce5-4fea-8838-30af12d29ab1",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "0yeLXn4fhwRcx0HQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "onboardings",
        "filterType": "string",
        "filterString": "=id = {{$json[\"onboarding_id\"]}}",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "fcf9862a-e217-4533-af2e-71e8517a2cf5",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "0yeLXn4fhwRcx0HQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "events_audit",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "entity_type",
              "fieldValue": "onboarding"
            },
            {
              "fieldId": "entity_id",
              "fieldValue": "={{$json[\"onboarding_id\"]}}"
            },
            {
              "fieldId": "entity_type",
              "fieldValue": "tasks_generated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "9c2f13b8-8fd4-4c5d-8851-bc968b9e9a87",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "0yeLXn4fhwRcx0HQ",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5e5a20b7-e841-4b42-b51b-69c37cd8c7da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d3070119332145168d9226ce01d49a6e327301522e868e19a14068593b5e0e1"
  },
  "id": "QMjw8E6fWKSgIrxm",
  "tags": []
}